@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap');

.app {
	text-align: center;

	.header {
		margin-bottom: 3em;
		height: 10em;
		width: 80%;
		margin: auto auto 2em auto;
		border-bottom: thin solid lightgray;
		display: table;

		h1 {
			vertical-align: middle;
			display: table-cell;
		}
	}

	.back {
		width: 80%;
		margin: auto;

		.back-btn {
			display: flex;
			height: 30px;
			background-color: unset;
		}
	}

	.list {
		list-style-type: none;
		max-width: 60em;
		margin: auto;
		padding: 0;

		.list-item {
			display: inline-block;
		}
	}

	.selector-btn {
		margin: 20px;
		width: 10em;
		height: 5em;
		font-family: 'Covered By Your Grace', cursive;
		font-size: 25px;
		cursor: pointer;
	}
}
